<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mschyb.clockingapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.dshah8.myfirstmap.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.example.dshah8.myfirstmap.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/clocking2"
        android:label="Clocking App"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="Home" >
        </activity>
        <activity
            android:name=".EnterAddressActivity"
            android:label="Set Address" >
        </activity>
        <activity
            android:name=".SetAlarmsActivity"
            android:label="Set Alarms" >
        </activity>
        <activity
            android:name=".ViewScheduleActivity"
            android:label="View Schedule" >
        </activity>
        <activity
            android:name=".HoursWorkedActivity"
            android:label="Hours Worked" >
        </activity>
        <activity
            android:name=".ClockInOutActivity"
            android:label="Clock In/Out" >
        </activity>

        <service
            android:name=".GPSTrackingService"
            android:enabled="true"
            android:exported="true" >
        </service>


        <activity
            android:name=".ScheduleDateActivity"
            android:label="ScheduleDateActivity">
        </activity>
    </application>
</manifest>
